*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header {
    display: flex;
    background-color: blue;
    align-items: center;
    position: fixed;
    color: white;
    height: 100px;
    width: 100%;
    z-index: 1;
    margin: 0%;
    padding: 0%;
}
.header img{
    padding: 20px;
}
.nav{
    list-style: none;
    padding: 50px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.btn{
    margin-left: auto;
    margin-right: 10px;
    display: inline-block;
    font-size: 1em;
    height: 2.3em;
    padding: 0.5em 1.85em;
    border: 2px solid #fff;
    border-radius: 1.8em;
    background: transparent;
    color: #fff;
    font-family: PepsiOwners, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: background-color .1s ease-out, color .1s ease-out;
    transition: background-color .1s ease-out, color .1s ease-out;
    font-weight: bold;
}
.VEDIO-CONTAINER{
 max-width: 100%;
}
video{
    max-width: 100%;
    height: auto;
}
.info{
    background-color: black;
    padding: 9px 0px 0px;
    text-align: center;
    height: 350px;

}
.text1{
color: #fff;
text-align: center;
font-size: 65px;
line-height: 59px;
padding: 40px;
text-transform: uppercase;
padding: 0px;
letter-spacing: 5px;
}

.text2{
color: #fff;
text-align: center;
text-transform: uppercase;
font-size: 35px;
margin: 20px 0px 0px;
margin-top: -60px;
line-height: 36px;
letter-spacing: 5px;

}
.btn2{
    background-color: blue;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    border-style: none;
    cursor: pointer;;
}
.diner-info{
    background-color: black;
    text-align: center;
    padding: 9px 0px 0px;
    height: 400px;
}
.diner-text1{
    color: #fff;
    font-size: 50px;
    padding-top: 0px;
    text-transform: uppercase;
    line-height: 1opx;
    letter-spacing: 8px;

}
.diner-text2{
    color: blue;
    font-size: 40px;
    margin: -60px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.diner-main-text{
 display: inline-flex;
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 6px;
    padding-top: 10px;
    line-height: 0px;
}
.diner-main-1{
color: blue;
}
.diner-main-2{
color: #fff;
}
.diner-main-3{
color: blue;
}
.blue-bg{
    background-image: url(imgs/blue.jpeg);
    height: 600px;
    position: relative;
    overflow: hidden;
    }
.bottle-image{
    position: absolute;
    top: 75px;
}
.image-container{
    background-color: black;
    text-align: center;
    padding: 20px;
  
}
.text-ctn{
    color: blue;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
    padding-top: 5px;
}

 .image-row {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    cursor: pointer;
   
    max-width: 100%;
    
 }
 .image{
    max-width: 15%;
    margin: 10px auto;
 }
 .image img{
    max-width: 100%;
    gap: 0;
 }
.footer-container{
    background-color: blue;
    padding-left: 60px;
    padding-top: 70px;
    display: flex;
    color: #fff;
    z-index: 1;
    padding: 60px;
    

}


.ftr-nav1{
    
    gap: 90px;
    list-style: none;
    font-size: 20px;
    padding-left: 100px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px; 

}
.ftr-nav2{
    
    gap: 90px;
    list-style: none;
    font-size: 20px;
    padding-left: 100px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px; 
}

.ftr-nav3{
    gap: 90px;
    list-style: none;
    font-size: 20px;
    padding-left: 100px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 15px;

}